html, body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  background: rgba(0, 0, 0, 0.2); }

input {
	background: none;
	border: 0;
	color: #fff;
	padding: 0.6em;
	margin: 0;
	width: 247px;
}
::-webkit-input-placeholder {
   color: #fff;
}
:-moz-placeholder {  
   color: #fff;  
}

.nav {
  font-size: 80%;
  background: black;
  color: #fff;
  clear: both;
  z-index: 1;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 0;
  padding: 0;
  border: 0; }
  .nav li {
    float: left;
    border-bottom: 0;
    border-left: 1px solid #808080;
    list-style: none; }
  .nav li:first-child {
  	border-left: 0; }
  .nav a {
    color: #808080;
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: 0.6em; }
    .nav a:hover, .nav a:focus, .nav a.active {
      color: #fff;
      background: rgba(255, 255, 255, 0.3); }

.size {
  width: 308px;
  right: -268px;
  -webkit-transition: right 0.3s ease-out;
  -moz-transition: right 0.3s ease-out;
  -ms-transition: right 0.3s ease-out;
  -o-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out; }
  .size.active {
    right: 0; }
  .size input {
    display: block;
    width: 74px;
    -webkit-appearance: textfield; }
	.size span {
	  float: left;
	  padding: 0.5em; }


.url-change {
  width: 301px;
  left: -262px;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -ms-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out; }
  .url-change.active {
    left: 0; }
  .url-change input {
  	padding-top: 0.7em;
  }
  .url-toggle {
  	  float: right;
  	  display: block;
  	  padding: 0.6em;
      background: rgba(255, 255, 255, 0.3);
  }

/* Viewport */
#vp-wrap {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

#viewport {
  -webkit-transition: width 0.8s ease-out;
  -moz-transition: width 0.8s ease-out;
  -ms-transition: width 0.8s ease-out;
  -o-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
  width: 100%;
  border: 0;
  margin: 0 auto;
  height: 100%; }
